<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buyable Requests</key>
	<string>com.nobosoftware.BuyableRequests</string>
	<key>Remove Ads</key>
	<string>com.nobosoftware.removeAds</string>
</dict>
</plist>
